body {
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 20px;
}

input,
select,
button {
  padding: 10px;
  margin: 5px;
}

button {
  background-color: green;
  color: white;
  border: none;
}
